header {
    background-color: $tertiary;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        font-size: 1.8rem;
        text-decoration: none;
        padding: 0 1rem;

        &:hover {
            text-decoration: underline;
        }
    }
}
