@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #FFD7D7;
  color: #4E5166;
}

.collapse {
  width: 60%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.collapse-title {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0%;
  padding: 0 2rem;
  cursor: pointer;
}
.collapse-title h2 {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #4E5166;
}

.collapse-closed {
  border-radius: 10px;
}

.collapse-open {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.arrow_down {
  transform: rotate(180deg);
}

.arrow_down,
.arrow_up {
  width: 2.5rem;
  filter: invert(0.39);
}

.collapse-text {
  color: #4E5166;
  background-color: #FFD7D7;
  font-size: 1.6rem;
  line-height: 2.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.text-open,
.text-closed {
  padding: 2rem;
  margin: 0;
}

header {
  background-color: #4E5166;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: white;
  display: flex;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 0 1rem;
}
nav a:hover {
  text-decoration: underline;
}

.logout-button img {
  margin-left: 1rem;
  padding-right: 1rem;
  width: 2.5rem;
  filter: invert(1);
  cursor: pointer;
}
.logout-button img:hover {
  transform: rotate(360deg);
  transition-duration: 800ms;
}

footer {
  margin-top: 10rem;
  padding-top: 2rem;
  background-color: #4E5166;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  width: 20rem;
}

.main-container {
  margin: 3rem auto 2rem auto;
  padding: 1rem 2rem;
  width: 50%;
  font-size: 1.8rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.link-container {
  text-align: center;
  font-size: 1.5rem;
}
.link-container a {
  text-decoration: none;
}
.link-container a:hover {
  text-decoration: underline;
}

.log-container {
  width: 100%;
  margin: 4rem auto;
  background-color: white;
  margin: 3rem auto 2rem auto;
  padding: 1rem 2rem;
  width: 50%;
  font-size: 1.8rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.log-container h1 {
  font-size: 2.8rem;
  text-align: center;
  cursor: default;
  margin: 0%;
}

.log-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.log-form label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 0;
  text-align: left;
  font-size: 2rem;
}
.log-form label:hover img {
  transform: rotate(360deg);
  transition-duration: 800ms;
}
.log-form img {
  filter: invert(0.39);
  height: 2rem;
  margin-right: 1rem;
}
.log-form input {
  height: 3rem;
  width: 90%;
  font-size: 1.5rem;
  margin: 0;
  border-radius: 10px;
}
.log-form input:focus {
  background-color: rgba(255, 215, 215, 0.3921568627);
}
.log-form button {
  height: 3rem;
  width: 70%;
  margin: 2rem auto;
  padding: 3rem auto;
  font-size: 1.5rem;
  color: white;
  border-radius: 10px;
}
.log-form button:enabled {
  background-color: #4E5166;
  border: none;
  cursor: pointer;
}
.log-form button:disabled {
  background-color: rgba(78, 81, 102, 0.3058823529);
  color: rgba(78, 81, 102, 0.5607843137);
  cursor: not-allowed;
}
.log-form .offscreen {
  display: none;
}

.instructions {
  display: inline-block;
  width: 90%;
  font-size: 1.5rem;
  font-style: italic;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 0%;
}
.error-message img {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.error-logo {
  height: 9rem;
  margin: 2rem auto;
  filter: invert(0.39);
}

h1 {
  font-size: 2rem;
}

.about-container {
  background-color: #4E5166;
  color: white;
  margin: 5rem auto 2rem auto;
  padding: 1rem 2rem;
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-container h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.about-collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: white;
  color: #4E5166;
  border-radius: 10px;
}

/*# sourceMappingURL=index.css.map */
